<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>اضافة مهمة جديده</title>
  <link rel="stylesheet" href="../assets/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">


</head>

<body>
  <div class="main-container">
    
    <form class="normal-form">

      <div>
        <label>ادخل مهمة جديده</label>
        <input type="text" id="task" autofocus required>
      </div>
      <button type="submit">
        <i class="fas fa_plus"></i>
        اضافة مهمة
      </button>

    </form>

  </div>
  <script>
    require("..//assets/js/normalScript.js");
  </script>
</body>


</html>